@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

$header-color: #5E6B82

*
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  font-weight: 300

.page_container
  width: 100%
  margin: 0 auto

@media screen and (min-width: 1024px)
  .page_container
    width: 80%

header
  background-image: url("../img/main_header_photo.svg")
  height: 25vh
  width: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  .main_page_logo
    height: 20vh

  .text_about_city_div
    background-color: #00306C
    width: 100%
    height: 5vh
    display: flex
    justify-content: center
    align-items: center

    .text_about_city
      color: white

  .burger_menu
    position: absolute
    right: 20px
    top: 20px

    .burger-menu-container
      background-color: #000000
      height: 8vh
      width: 10vw

main
  margin: 2vw
  display: flex
  flex-direction: column
  align-items: center
  gap: 4vh

  .attractions_div
    width: 100%

  .attractions_text_div
    text-align: center

  .attractions_text
    margin: 2vh 0
    color: #00306C
    font-weight: bold

  .collections_img
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    gap: 2%
    width: 100%

  .first_time_in_city_collection
    height: 20vh
    border-radius: 25px
    border: 1px solid black
    position: relative
    overflow: hidden

    img
      width: 100%
      height: 100%
      border-radius: 20px
      object-fit: cover

    .card_text
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      padding: 1vh
      text-align: center
      background: rgba(0, 0, 0, 0.5)
      color: white
      font-size: clamp(14px, 2vw, 20px)

  .more_collections
    background-color: $header-color
    height: 20vh
    border-radius: 20px
    display: flex
    justify-content: center
    align-items: center
    color: white

    .more_collections_text
      text-align: center
      font-size: clamp(16px, 2vw, 24px)

footer
  margin-top: auto

@media screen and (max-width: 520px)
  header
    .main_page_logo
      height: 25vh !important

    .text_about_city_div
      height: 25vh!important

    .text_about_city
      font-size: 4.5vw !important
      text-align: center

    .burger_menu
      position: absolute
      right: 20px
      top: 20px
      height: 5vh !important

  main
    .collections_img
      grid-template-columns: 1fr

    .first_time_in_city_collection
      width: 100%
      height: 25vh

    .more_collections
      width: 100%

@media screen and (max-width: 768px)
  .card_text
    font-size: 3vw
