@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
}
header .nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header .nav a {
  padding: 0 20px;
  height: 100%;
  background: #5E6B82;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
header .nav a img {
  width: 100%;
  height: 100%;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  line-height: 1rem;
}
.container .naming_of_page {
  color: rgb(0, 48, 108);
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
.container .object_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.container .object_container .object_photo_and_info {
  width: 80%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container .object_container .object_photo_and_info {
    display: flex;
    flex-direction: column;
  }
}
.container .object_container .object_photo_and_info .object_photo {
  width: 100%;
  height: 100%;
  max-height: 350px;
  overflow: hidden;
  border-radius: 25px;
}
.container .object_container .object_photo_and_info .object_photo img {
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #5E6B82;
}
.container .object_container .object_photo_and_info .object_info {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  line-height: 1.2rem;
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container .object_container .object_photo_and_info .object_info {
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
}
.container .object_container .object_photo_and_info .object_info #obj_name {
  display: flex;
  height: 100%;
  line-break: strict;
}
.container .object_container .object_photo_and_info .object_info #obj_name, .container .object_container .object_photo_and_info .object_info #obj_adress, .container .object_container .object_photo_and_info .object_info #obj_price {
  display: flex;
  gap: 10px;
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container .object_container .object_photo_and_info .object_info #obj_name, .container .object_container .object_photo_and_info .object_info #obj_adress, .container .object_container .object_photo_and_info .object_info #obj_price {
    display: flex;
    line-height: 20px;
  }
}
.container .object_container .object_photo_and_info .object_info #obj_price::after {
  content: " Р";
}
.container .object_container .object_description {
  width: 80%;
  min-height: 70px;
  line-break: strict;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  text-align: center;
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container .object_container .object_description {
    font-size: 40px;
    line-height: 40px;
  }
}
.container .object_container .object_description:first-letter {
  text-transform: uppercase;
}
.container .object_container .add_object {
  border: none;
  border-radius: 25px;
  background: rgb(94, 107, 130);
  width: 40%;
  height: 50px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-align: center;
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container .object_container .add_object {
    font-size: 40px;
    width: 60%;
    height: 60px;
    line-height: 40px;
  }
}
.container .object_container .object_tags {
  width: 80%;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.25);
  background: #9aa4b6;
  gap: 20px;
  border-radius: 20px;
  padding: 10px;
}
.container .object_container .object_tags button {
  padding: 0 30px;
  margin: 5px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 17px;
}
@media (min-width: 800px) and (max-width: 1024px) {
  .container .object_container .object_tags button {
    font-size: 30px;
  }
}
.container .object_container .object_tags button p {
  line-height: 0;
}

.active_add_button {
  background: rgb(171, 202, 211);
  animation: change-animation 0.3s ease-in forwards;
}

@keyframes change-animation {
  0% {
    background: rgb(171, 202, 211);
    border: none;
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    background: rgb(42, 105, 119);
    color: white;
  }
}

/*# sourceMappingURL=selfObject.css.map */
