*
  font-family: "Roboto", sans-serif

body
  display: flex
  justify-content: center


.container
  width: 80%
  display: flex
  flex-direction: column
  height: 100%
  align-items: center
  gap: 20px

  .naming_of_page
    color: rgb(0, 48, 108)
    //font-family: Roboto
    font-size: 2rem
    font-weight: 700
    text-align: left

  .map_container
    width: 90%

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: rgb(0, 48, 108)
    font-size: 1.3rem
    font-weight: 700
    text-align: center
    height: 100%

    .map_data
      width: 100%
      background: rgb(79, 78, 78)
      padding: 20px
      border-radius: 20px

      .map
        width: 100%
        min-height: 40vh
        object-fit: cover


  .attractions_container
    width: 90%
    display: grid

    gap: 50px

    // GRID TEMPLATES
    grid-template-columns: 1fr 1fr 1fr
    // ADD ADAPTIVE!!!!!! (maybe)

    @media (min-width: 800px) and (max-width: 1024px)
      grid-template-columns: 1fr 1fr

.attraction
  line-height: 1rem

  width: 100%
  height: 100%

  background: rgb(242, 242, 242)
  border-radius: 25px
  overflow: hidden
  display: flex
  flex-direction: column
  gap: 10px

  @media (min-width: 800px) and (max-width: 1024px)
    height: 700px


  .image_conatiner
    border: 2px solid white
    border-radius: 25px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background: rgba(0, 0, 0, 0.2)
    height: 100%
    max-height: 150px
    overflow: hidden

    @media (min-width: 800px) and (max-width: 1024px)
      height: 400px


    img
      width: 100%
      height: 100%
      object-fit: cover
      border-radius: 25px
      transition: transform 0.7s ease-in-out

    &:hover
      img
        transform: scale(1.1)

  .info_container
    display: grid
    grid-template-rows: 3fr 2fr
    height: 50%
    padding: 0 10px

    @media (min-width: 800px) and (max-width: 1024px)
      font-size: 30px


    #attraction_name
      display: flex
      justify-content: flex-start

      color: rgb(88, 88, 88)

      font-size: 110%
      font-weight: 700
      letter-spacing: 0px
      text-align: left

      width: 100%
      height: 150%

    .price_and_time_container
      width: 100%
      display: flex
      justify-content: space-between
      align-items: flex-end

      .price_container
        display: flex
        flex-direction: column

        &::after
          content: "Р"


  .add_attraction
    width: 100%
    height: 40px

    display: flex
    justify-content: center
    margin-bottom: 10px

    button
      border-radius: 25px
      background: rgba(171, 202, 211, 1)

      width: 90%
      height: 40px

      border: none

      font-size: 20px
      color: rgb(27, 77, 88)
      font-weight: 900
      text-align: center

  #attraction_id
    display: none

.active_add_button
  background: rgb(171, 202, 211)
  animation: change-animation 0.3s ease-in forwards


@keyframes change-animation
  0%
    border-radius: 25px
    background: rgb(171, 202, 211)
    width: 90%
    height: 40px

    border: none

    font-size: 20px
    font-weight: 900
    text-align: center
    transform: scale(1)

  50%
    transform: scale(0.9)

  100%
    transform: scale(1)
    background: rgb(42, 105, 119)
    color: white


@media screen and (max-width: 520px)
  .attractions_container
    grid-template-columns: 1fr !important

  .map_container
    font-size: 2rv !important